.wizard {
    margin: 20px auto;
    background: #fff;
    clear: bottom;
}
.wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
       
        border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
        position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: black;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
        
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}
.step1 .row {
    margin-bottom:10px;
}
.step_21 {
    border :1px solid #eee;
    border-radius:5px;
    padding:10px;
}
.step33 {
     border :1px solid #eee;
    border-radius:5px;
    padding:10px;
}
.dropselectsec {
    width: 68%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.dropselectsec1 {
    width: 74%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.mar_ned {
    margin-bottom:10px;
}
.wdth {
    width:25%;
}
.birthdrop {
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    width: 16%;
    outline: 0;
    font-weight: normal;
}


/* according menu */
#accordion-container {
    font-size:13px
}
.accordion-header {
    font-size:13px;
	background:#ebebeb;
	margin:5px 0 0;
	padding:7px 20px;
	cursor:pointer;
	color:#fff;
	font-weight:400;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}
.unselect_img{
	width:18px;
	-webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;      
	user-select: none; 
}
.active-header {
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	background:#F53B27;
}
.active-header:after {
	content:"\f068";
	font-family:'FontAwesome';
	float:right;
	margin:5px;
	font-weight:400
}
.inactive-header {
	background:#333;
}
.inactive-header:after {
	content:"\f067";
	font-family:'FontAwesome';
	float:right;
	margin:4px 5px;
	font-weight:400
}
.accordion-content {
	display:none;
	padding:20px;
	background:#fff;
	border:1px solid #ccc;
	border-top:0;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px
}
.accordion-content a{
	text-decoration:none;
	color:#333;
}
.accordion-content td{
	border-bottom:1px solid #dcdcdc;
}
.btn-default{
	
	margin-top: 10PX;
}
.btnSaveAnContinue{
	
	margin-top: 10PX;
}

/*Alert*/
.dgcAlert {
	top: 0;position: absolute;
	width: 100%;
	display: block;
	height: 1000px; 
	background: url(http://www.dgcmedia.es/recursosExternos/fondoAlert.png) repeat; 
	text-align:center; 
	opacity:0; 
	display:none; 
	z-index:999999999999999;
}
.dgcAlert .dgcVentana{
	width: 500px; 
	background: white;
	min-height: 150px;
	position: relative;
	margin: 0 auto;
	color: black;
	padding: 10px;
	border-radius: 10px;
}
.dgcAlert .dgcVentana .dgcCerrar {
	height: 25px;
	width: 25px;
	float: right; 
	cursor:pointer; 
	background: url(http://www.dgcmedia.es/recursosExternos/cerrarAlert.jpg) no-repeat center center;
}
.dgcAlert .dgcVentana .dgcMensaje { 
	margin: 0 auto; 
	padding-top: 45px; 
	text-align: center; 
	width: 400px;
	font-size: 20px;
}
.dgcAlert .dgcVentana .dgcAceptar{
	background:#09C; 
	bottom:20px; 
	display: inline-block; 
	font-size: 12px; 
	font-weight: bold; 
	height: 24px; 
	line-height: 24px; 
	padding-left: 5px; 
	padding-right: 5px;
	text-align: center; 
	text-transform: uppercase; 
	width: 75px;
	cursor: pointer; 
	color:#FFF; 
	margin-top:50px;
}

@media( max-width : 1064px ) {

    .wizard {
    	margin-top: 10%;
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    footer{
    	margin-top: 100px;
    }

}


@media( max-width : 585px ) {
	*{
		font-size: 12px;
	}
    .wizard {
    	margin-top: 20%;
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        width: 50px;
        height: 50px;
        line-height: 45px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 35px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
     .btn-default{
    	width: 110px;
    	height: 30px;
    	font-size: 12px;
    	display: inline-block;
    	margin-top: 10PX;
    }
    .btnSaveAnContinue{
    	font-size: 12px;
    	width: 122px;
    	height: 30px;
    	margin-top: 10PX;
   	}
        footer{
    	display: block;
    	margin-top: 130px;
    }

    	/*Alert*/
	.dgcAlert {
		top: 0;position: absolute;
		width: 100%;
		display: block;
		height: 1000px; 
		background: url(http://www.dgcmedia.es/recursosExternos/fondoAlert.png) repeat; 
		text-align:center; 
		opacity:0; 
		display:none; 
		z-index:999999999999999;
	}
	.dgcAlert .dgcVentana{
		width: 300px; 
		background: white;
		min-height: 10px;
		position: relative;
		margin: 0 auto;
		color: black;
		padding: 10px;
		border-radius: 10px;
	}
	.dgcAlert .dgcVentana .dgcCerrar {
		height: 25px;
		width: 25px;
		float: right; 
		cursor:pointer; 
		background: url(http://www.dgcmedia.es/recursosExternos/cerrarAlert.jpg) no-repeat center center;
	}
	.dgcAlert .dgcVentana .dgcMensaje { 
		margin: 0 auto; 
		padding-top: 45px; 
		text-align: center; 
		width: 150px;
		font-size: 14px;
	}
	.dgcAlert .dgcVentana .dgcAceptar{
		background:#09C; 
		bottom:20px; 
		display: inline-block; 
		font-size: 12px; 
		font-weight: bold; 
		height: 24px; 
		line-height: 24px; 
		padding-left: 5px; 
		padding-right: 5px;
		text-align: center; 
		text-transform: uppercase; 
		width: 75px;
		cursor: pointer; 
		color:#FFF; 
		margin-top:50px;
	}

}
@media( max-width : 300px ) {
	*{
		font-size: 10px;
	}
    .wizard {
    	margin-top: 50%;
    	margin-bottom: 50%;
        width: 85%;
        height: auto !important;
       
    }

    span.round-tab {
        width: 35px;
        height: 35px;
        line-height: 25px;
        
    }
    .wizard .nav-tabs > li a {
       width: 35px;
        height: 35px;
        line-height: 25px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 28%;
    }
    .btn-default{
    	width: 70px;
    	height: 30px;
    	font-size: 12px;
    	display: inline-block;
    	margin-top: 10PX;
    }
    .btnSaveAnContinue{
    	font-size: 12px;
    	width: 122px;
    	height: 30px;
    	margin-top: 10PX;
   	}
   	.nuevaPregunta{

   		font-size: 12px;
    	width: 122px;
    	height: 30px;
    	margin-top: 10PX;
   	}
   	.nuevoTema{
   		
   		font-size: 12px;
    	width: 122px;
    	height: 30px;
    	margin-top: 10PX;
   	}
   	.slider{
   		margin-bottom: 30px;
   		clear: bottom;
   	}
    footer{
    	display: block;
    	margin-top: 150px;
    }
	/*Alert*/
	.dgcAlert {
		top: 0;position: absolute;
		width: 100%;
		display: block;
		height: 1000px; 
		background: url(http://www.dgcmedia.es/recursosExternos/fondoAlert.png) repeat; 
		text-align:center; 
		opacity:0; 
		display:none; 
		z-index:999999999999999;
	}
	.dgcAlert .dgcVentana{
		width: 150px; 
		background: white;
		min-height: 150px;
		position: relative;
		margin: 0 auto;
		color: black;
		padding: 10px;
		border-radius: 10px;
	}
	.dgcAlert .dgcVentana .dgcCerrar {
		height: 25px;
		width: 25px;
		float: right; 
		cursor:pointer; 
		background: url(http://www.dgcmedia.es/recursosExternos/cerrarAlert.jpg) no-repeat center center;
	}
	.dgcAlert .dgcVentana .dgcMensaje { 
		margin: 0 auto; 
		padding-top: 45px; 
		text-align: center; 
		width: 100px;
		font-size: 10px;
	}
	.dgcAlert .dgcVentana .dgcAceptar{
		background:#09C; 
		bottom:20px; 
		display: inline-block; 
		font-size: 12px; 
		font-weight: bold; 
		height: 24px; 
		line-height: 24px; 
		padding-left: 5px; 
		padding-right: 5px;
		text-align: center; 
		text-transform: uppercase; 
		width: 75px;
		cursor: pointer; 
		color:#FFF; 
		margin-top:50px;
	}
}
