<!doctype html>
<html lang="en" ng-app="CCSSapp">
<head>
    <link rel="icon" href="../img/icon.png">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../angular/appController.js"></script>

</head>
<body ng-controller="mainCtrl">

    <div ng-repeat="topic in topics">
        <hr>
            <h3>{{ topic.name }}</h3>
            <span>{{ topic.questions[0] }}</span>
            <p>Respuesta Correcta: {{ topic.answers[0] }}</p>
        <hr>
    </div>

</body>
</html>