<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <!-- meta charec set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Page Title -->
    <title>CCSS : CONGRESO NACIONAL DE GERIATRIA</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
    <meta name="author" content="Muhammad Morshed">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Fontawesome Icon font -->
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <!-- Twitter Bootstrap css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- jquery.fancybox  -->
    <link rel="stylesheet" href="../css/jquery.fancybox.css">
    <!-- animate -->
    <link rel="stylesheet" href="../css/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- media-queries -->
    <link rel="stylesheet" href="../css/media-queries.css">
    <link rel="stylesheet" href="../css/multiple_animate_slider.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="../js/modernizr-2.6.2.min.js"></script>

</head>

<body id="body">

<!-- preloader -->
<div id="preloader">
    <img src="../img/preloader.gif" alt="Preloader">
</div>
<!-- end preloader -->

<!--
Fixed Navigation
==================================== -->
<header id="navigation" class="navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-2x"></i>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <a class="navbar-brand" href="#body">
                <h1 id="logo">
                    <img src="../img/logo.png" alt="Brandi">
                </h1>
            </a>
            <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <ul id="nav" class="nav navbar-nav">
                <li class="current"><a href="#body">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#works">Work</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="http://google.com">Contact</a></li>
            </ul>
        </nav>
        <!-- /main nav -->

    </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<!-- ====================================
Multiple-Animated Slider
-->
    <div class="container">

        <div id="tabs-home" class="row slider" style="background:url(http://legalprom.cl/wp-content/uploads/2014/05/main-bg.jpg) no-repeat center fixed;">
            <div class="col-sm-3">
                <nav class="nav-sidebar">
                    <ul class="nav tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab"><p>CREACION EMPRESAS</p><span>Constitución de Sociedades</span></a></li>
                        <li class=""><a href="#tab2" data-toggle="tab"><p>MARCAS</p><span>Registro y Renovación</span></a></li>
                        <li class=""><a href="#tab3" data-toggle="tab"><p>MODIFICACION</p><span>Disolucion Sociedades</span></a></li>
                        <li class=""><a href="#tab4" data-toggle="tab"><p>¿BUSCA UN ABOGADO?</p><span>Laboral-Bienes Raices-Litigios-Contratos</span></a></li>
                    </ul>
                </nav>
            </div>
            <!-- tab content -->
            <div id="wea" class="col-sm-9 tab-content">

                <div class="tab-pane active text-style fade in active" id="tab1">
                    <h2>Su Sociedad Bien Hecha Online</h2>
                    <p>Libérese de malos ratos con nuestra garantía de aprobación bancaria de sus estatutos</p>
                    <p><strong>Desde $74.990 y 24 hrs.</strong></p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Seleccione Sociedad para comenzar:</h3>
                        </div>
                        <div class="panel-body">
                            <form action="/forms/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="ve6XAejZc30dRt9YPpgeHfj7z95M0d8dI9dVZtndr9IhXOt4/mF1WjyPwlScpgyCh4bkLKNzfyt5naNaG837Rw==">
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <img src="http://legalprom.cl/wp-content/uploads/2014/05/eirl70.jpg"data-toggle="tooltip" data-original-title="Sociedad EIRL">
                                        <input type="checkbox" name="doc_type[cod][]" class="hidden" value="society_eirl">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="http://legalprom.cl/wp-content/uploads/2014/05/sa70.jpg"data-toggle="tooltip" data-original-title="Sociedad SA">
                                        <input type="checkbox" name="doc_type[cod][]" class="hidden" value="society_sa">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="http://legalprom.cl/wp-content/uploads/2014/05/srl70.jpg"data-toggle="tooltip" data-original-title="Sociedad SRL">
                                        <input type="checkbox" name="doc_type[cod][]" class="hidden" value="society_srl">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="http://legalprom.cl/wp-content/uploads/2014/05/spa70.jpg"data-toggle="tooltip" data-original-title="Sociedad SpA">
                                        <input type="checkbox" name="doc_type[cod][]" class="hidden" value="society_spa">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Nombre">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Apellido">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Email">
                                </div>
                                <input type="submit" name="commit" value="Crear mi empresa" class="btn btn-info btn-block">

                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane text-style fade" id="tab2">
                    <h2>Proteja su Marca Online</h2>
                    <p>Evite que otros aprovechen su esfuerzo y buen nombre registrando su marca con LegalProm</p>
                    <p><strong>Desde $129.990</strong></p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Seleccione Sociedad para comenzar:</h3>
                        </div>
                        <div class="panel-body">
                            <form action="/forms/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="ve6XAejZc30dRt9YPpgeHfj7z95M0d8dI9dVZtndr9IhXOt4/mF1WjyPwlScpgyCh4bkLKNzfyt5naNaG837Rw==">
                                <div class="row form-group">
                                    <div class="col-md-2">
                                        <img src="http://legalprom.cl/wp-content/uploads/2014/02/establecimiento-comercial.jpg" class="img-responsive img-radio" width="50" data-toggle="tooltip" title="" data-original-title="Marca Establecimiento Comercial">
                                        <input type="checkbox" name="doc_type[cod][]" class="hidden" value="brand_mec">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="http://legalprom.cl/wp-content/uploads/2014/02/servicio.jpg" class="img-responsive img-radio" width="50" data-toggle="tooltip" title="" data-original-title="Marca Servicio">
                                        <input type="checkbox" name="doc_type[cod][]" class="hidden" value="brand_ms">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="http://legalprom.cl/wp-content/uploads/2014/02/producto.jpg" class="img-responsive img-radio" width="50" data-toggle="tooltip" title="" data-original-title="Marca Producto">
                                        <input type="checkbox" name="doc_type[cod][]" class="hidden" value="brand_mp">
                                    </div>
                                    <div class="col-md-2">
                                        <img src="http://legalprom.cl/wp-content/uploads/2014/02/establecimiento-industrial.jpg" class="img-responsive img-radio" width="50" data-toggle="tooltip" title="" data-original-title="Marca Establecimiento Industrial">
                                        <input type="checkbox" name="doc_type[cod][]" class="hidden" value="brand_mei">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Nombre">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Apellido">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control input-sm" placeholder="Email">
                                </div>
                                <input type="submit" name="commit" value="Crear mi empresa" class="btn btn-info btn-block">

                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane text-style fade" id="tab3">
                    <h2>Modificación y Disolución Sociedades</h2>
                    <p>Concrete oportunidades adaptando sus negocios con velocidad y seguridad LegalProm</p>
                    <p><strong>Desde $44.990 y 24 hrs.</strong></p>
                    <a href="#">Detalle Precio y Plazos</a>
                </div>

                <div class="tab-pane text-style fade" id="tab4">
                    <h2>¿Busca un Abogado en Quien Confiar?</h2>
                    <p>Miles de clientes han confiado en LegalProm. Muchos huyendo de malos servicios, perdidas de tiempo y dinero.</p>
                </div>
            </div>

        </div>

        <div class="row press-quotes">
            <div class="col-md-4">
                <center><img class="press-logos" alt="Logo CNN Chile" src="http://legalprom.cl/wp-content/uploads/2013/12/logo-cnnchile.png"/></center>
                <div class="row">
                    <div class="col-md-2">
                        <img class="alignleft size-full wp-image-361" src="http://legalprom.cl/wp-content/uploads/2014/01/comillas.png" alt="comillas" width="24" height="20">
                    </div>
                    <div class="col-md-10">
                        <p>Un gran avance en el proceso de crear nuevas empresas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <center><img class="press-logos" style="margin-bottom:35px;" alt="Logo Las Últimas Noticias" src="http://legalprom.cl/wp-content/uploads/2014/01/logo-lun2.png"/></center>
                <div class="row">
                    <div class="col-md-2">
                        <img class="alignleft size-full wp-image-361" src="http://legalprom.cl/wp-content/uploads/2014/01/comillas.png" alt="comillas" width="24" height="20">
                    </div>
                    <div class="col-md-10">
                        <p>Chao a los trámites para armar una sociedad</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <center><img class="press-logos" alt="Logo Innovacion.cl" src="http://legalprom.cl/wp-content/uploads/2013/12/logo-innovacion1.png"/></center>
                <div class="row">
                    <div class="col-md-2">
                        <img class="alignleft size-full wp-image-361" src="http://legalprom.cl/wp-content/uploads/2014/01/comillas.png" alt="comillas" width="24" height="20">
                    </div>
                    <div class="col-md-10">
                        <p>El sueño del emprendimiento fácil, rápido y a bajo costo</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="line">
            <hr/>
        </div>
    </div>

<!-- ====================================
Multiple-Animated Slider
-->

<footer id="footer" class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
                <div class="footer-single">
                    <img src="../img/footer-logo.png" alt="">
                    <p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="footer-single">
                    <h6>Subscribe </h6>
                    <form action="#" class="subscribe">
                        <input type="text" name="subscribe" id="subscribe">
                        <input type="submit" value="&#8594;" id="subs">
                    </form>
                    <p>eusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="footer-single">
                    <h6>Explore</h6>
                    <ul>
                        <li><a href="#">Inside Us</a></li>
                        <li><a href="#">Flickr</a></li>
                        <li><a href="#">Google</a></li>
                        <li><a href="#">Forum</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="footer-single">
                    <h6>Support</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Market Blog</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Pressroom</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright text-center">
                    Copyright © 2016 <a href="https://www.themefisher.com/free-bootstrap-templates">Themefisher</a>. All rights reserved.  Developed by <a href="https://www.themefisher.com/free-bootstrap-templates/">Themefisher</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

<!-- Essential jQuery Plugins
================================================== -->
<!-- Main jQuery -->
<script src="../js/jquery-1.11.1.min.js"></script>
<!-- Single Page Nav -->
<script src="../js/jquery.singlePageNav.min.js"></script>
<!-- Twitter Bootstrap -->
<script src="../js/bootstrap.min.js"></script>
<!-- jquery.fancybox.pack -->
<script src="../js/jquery.fancybox.pack.js"></script>
<!-- jquery.mixitup.min -->
<script src="../js/jquery.mixitup.min.js"></script>
<!-- jquery.parallax -->
<script src="../js/jquery.parallax-1.1.3.js"></script>
<!-- jquery.countTo -->
<script src="../js/jquery-countTo.js"></script>
<!-- jquery.appear -->
<script src="../js/jquery.appear.js"></script>
<!-- Contact form validation -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<!-- Google Map -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<!-- jquery easing -->
<script src="../js/jquery.easing.min.js"></script>
<!-- jquery easing -->
<script src="../js/wow.min.js"></script>
<script>
    var wow = new WOW ({
            boxClass:     'wow',      // animated element css class (default is wow)
            animateClass: 'animated', // animation css class (default is animated)
            offset:       120,          // distance to the element when triggering the animation (default is 0)
            mobile:       false,       // trigger animations on mobile devices (default is true)
            live:         true        // act on asynchronously loaded content (default is true)
        }
    );
    wow.init();
</script>
<!-- Custom Functions -->
<script src="../js/custom.js"></script>

<script type="text/javascript">
    $(function(){
        /* ========================================================================= */
        /*	Contact Form
         /* ========================================================================= */

        $('#contact-form').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2
                },
                email: {
                    required: true,
                    email: true
                },
                message: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "come on, you have a name don't you?",
                    minlength: "your name must consist of at least 2 characters"
                },
                email: {
                    required: "no email, no message"
                },
                message: {
                    required: "um...yea, you have to write something to send this form.",
                    minlength: "thats all? really?"
                }
            },
            submitHandler: function(form) {
                $(form).ajaxSubmit({
                    type:"POST",
                    data: $(form).serialize(),
                    url:"process.php",
                    success: function() {
                        $('#contact-form :input').attr('disabled', 'disabled');
                        $('#contact-form').fadeTo( "slow", 0.15, function() {
                            $(this).find(':input').attr('disabled', 'disabled');
                            $(this).find('label').css('cursor','default');
                            $('#success').fadeIn();
                        });
                    },
                    error: function() {
                        $('#contact-form').fadeTo( "slow", 0.15, function() {
                            $('#error').fadeIn();
                        });
                    }
                });
            }
        });
    });
</script>
</body>
</html>
