<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta charec set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Page Title -->
        <title>CCSS : CONGRESO NACIONAL DE GERIATRIA</title>
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Muhammad Morshed">
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Google Font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>


		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- Twitter Bootstrap css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- jquery.fancybox  -->
        <link rel="stylesheet" href="css/jquery.fancybox.css">
		<!-- animate -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- media-queries -->
        <link rel="stylesheet" href="css/RegisNewTopic.css">

		<!-- Modernizer Script for old Browsers -->
		<link rel="stylesheet" href="css/main.css">
        <script src="js/modernizr-2.6.2.min.js"></script>
        <!--alert-->
      	<script src="/path/to/jquery.js" type="text/javascript"></script>
		<script src="/path/to/jquery.ui.draggable.js" type="text/javascript"></script>

		<script src="/path/to/jquery.alerts.js" type="text/javascript"></script>
		<link href="/path/to/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />

    </head>
	
    <body id="body">
	
		<!-- preloader -->
		<div id="preloader">
			<img src="img/preloader.gif" alt="Preloader">
		</div>
		<!-- end preloader -->

        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-fixed-top navbar">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
                    <a class="navbar-brand" href="#body">
						<h1 id="logo">
							<img src="img/logo.png" alt="Brandi">
						</h1>
					</a>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#body">Home</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#works">Work</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="http://google.com">Contact</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		
		
		
        <!--
        Home Slider
        ==================================== -->
		
<section id="slider">
	<div class="container ">
	    <div class="row">

	        <div class="wizard">
	            <div class="wizard-inner ">
	                <div class="connecting-line"></div>
	                <ul class="nav nav-tabs" role="tablist">

	                    <li role="presentation" class="active 1">
	                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
	                            <span class="round-tab">
	                                <i>1</i>
	                            </span>
	                        </a>
	                    </li>

	                    <li role="presentation" class="disabled 2">
	                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
	                            <span class="round-tab">
	                                <i >2</i>
	                            </span>
	                        </a>
	                    </li>
	                    <li role="presentation" class="disabled">
	                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
	                            <span class="round-tab">
	                                <i>3</i>
	                            </span>
	                        </a>
	                    </li>

	                    <li role="presentation" class="disabled">
	                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
	                            <span class="round-tab">
	                                <i>4</i>
	                            </span>
	                        </a>
	                    </li>
	                </ul>
	            </div>

	            <form role="form">
	                <div class="tab-content">
	                    <div class="tab-pane active" role="tabpanel" id="step1">
	                        <div class="step1">
	                        	<div class="step_21">
		                    		<h5><strong>Tema</strong></h5>
		                    		<hr>
		                            <div class="row">
			                            <div class="col-md-12 col-s-12">
			                                <input type="text" class="form-control" id="tema" placeholder="Tema">
			                            </div>
		                           
		                        	</div>
		                     
	                  	
	                        	</div>
	                        </div>
	                        <ul class="list-inline pull-right">
	                            <li><button type="button" class="btn btn-primary btnContinue1 next-step btnSaveAnContinue">continue</button></li>
	                        </ul>
	                    </div>
	                    <div class="tab-pane" role="tabpanel" id="step2">
	                        <div class="step2">
	                            <div class="step_21">
	                            	<h5><strong>Pregunta</strong></h5>
	                        		<hr>
	                                <div class="row">
	                                    <div class="col-md-12 col-s-12">
			                                <input type="text" class="form-control" id="pregunta" placeholder="Pregunta">
		                                
	                           			 </div>
	                                </div>
	                            </div>
	                        </div>
	                        <ul class="list-inline pull-right">
	                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
	                            <li><button type="button" class="btn btn-primary btnContinue2 next-step btnSaveAnContinue">continue</button></li>
	                        </ul>
	                    </div>
	                    <div class="tab-pane " role="tabpanel" id="step3">
	                        <div class="step33">
	                        	<h5><strong>Respuestas</strong></h5>
	                        	<hr>
	                            <div class="row mar_ned">
	                                <div class="col-md-12 col-s-12">
		                               <label for="respuesta">A</label>
		                               <input type="email" class="form-control" id="respA" placeholder="Respuesta A">
		                               <label for="respuesta">B</label>
		                               <input type="email" class="form-control" id="respB" placeholder="Respuesta B">
		                               <label for="respuesta">C</label>
		                               <input type="email" class="form-control" id="respC" placeholder="Respuesta C">
		                               <label for="respuesta">D</label>
		                               <input type="email" class="form-control" id="respD" placeholder="Respuesta D">
	                           		</div>
	                            </div>
	                 		</div>
	                        <ul class="list-inline pull-right ">
	                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
	                            <li><button type="button" class="btn btn-default next-step ">Skip</button></li>
	                            <li><button type="button" class="btn btn-primary btnContinue3 btn-info-full next-step btnSaveAnContinue">continue</button></li>
	                        </ul>
	                    </div>
	                    <div class="tab-pane" role="tabpanel" id="complete">
	                        <div class="step44">
	                            <h5>Completed</h5>
	                            <ul >
	                            <li><button type="button" class="btn btn-default nuevaPregunta ">Nueva pergunta</button></li>
	                            <li><button type="button" class="btn btn-default nuevoTema">Nuevo tema</button></li>
	                            <li><button type="button" class="btn btn-primary guardar btn-info-full next-step btnSaveAnContinue">Guardar Tema</button></li>
	                        </ul>
	                          
	                        </div>
	                    </div>
	                    <div class="clearfix"></div>
	                </div>
	            </form>
	        </div>

	   </div>
	</div>
</section>
		
        <!--
        End Home SliderEnd
        ==================================== -->
		
		<footer id="footer" class="footer">
			<div class="container">
				<div class="row">
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
						<div class="footer-single">
							<img src="img/footer-logo.png" alt="">
							<p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="footer-single">
							<h6>Subscribe </h6>
							<form action="#" class="subscribe">
								<input type="text" name="subscribe" id="subscribe">
								<input type="submit" value="&#8594;" id="subs">
							</form>
							<p>eusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
						<div class="footer-single">
							<h6>Explore</h6>
							<ul>
								<li><a href="#">Inside Us</a></li>
								<li><a href="#">Flickr</a></li>
								<li><a href="#">Google</a></li>
								<li><a href="#">Forum</a></li>
							</ul>
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
						<div class="footer-single">
							<h6>Support</h6>
							<ul>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Market Blog</a></li>
								<li><a href="#">Help Center</a></li>
								<li><a href="#">Pressroom</a></li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="copyright text-center">
							Copyright © 2016 <a href="https://www.themefisher.com/free-bootstrap-templates">Themefisher</a>. All rights reserved.  Developed by <a href="https://www.themefisher.com/free-bootstrap-templates/">Themefisher</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		
		<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="js/jquery-1.11.1.min.js"></script>
		<!-- Single Page Nav -->
        <script src="js/jquery.singlePageNav.min.js"></script>
		<!-- Twitter Bootstrap -->
        <script src="js/bootstrap.min.js"></script>
		<!-- jquery.fancybox.pack -->
        <script src="js/jquery.fancybox.pack.js"></script>
		<!-- jquery.mixitup.min -->
        <script src="js/jquery.mixitup.min.js"></script>
		<!-- jquery.parallax -->
        <script src="js/jquery.parallax-1.1.3.js"></script>
		<!-- jquery.countTo -->
        <script src="js/jquery-countTo.js"></script>
		<!-- jquery.appear -->
        <script src="js/jquery.appear.js"></script>
		<!-- Contact form validation -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
		<!-- Google Map -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<!-- jquery easing -->
        <script src="js/jquery.easing.min.js"></script>
		<!-- jquery easing -->
        <script src="js/wow.min.js"></script>
		<script>
			var wow = new WOW ({
				boxClass:     'wow',      // animated element css class (default is wow)
				animateClass: 'animated', // animation css class (default is animated)
				offset:       120,          // distance to the element when triggering the animation (default is 0)
				mobile:       false,       // trigger animations on mobile devices (default is true)
				live:         true        // act on asynchronously loaded content (default is true)
			  }
			);
			wow.init();
		</script> 
		<!-- Custom Functions -->
        <script src="js/custom.js"></script>
		
<script type="text/javascript">

	
	$(document).ready(function () {
	    //Initialize tooltips
	    $('.nav-tabs > li a[title]').tooltip();
	    
	    //Wizard
	    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

	        var $target = $(e.target);
	    
	        if ($target.parent().hasClass('disabled')) {
	            return true;
	        }
	    });

	    // $(".next-step").click(function (e) {

	    //     var $active = $('.wizard .nav-tabs li.active');
	    //     $active.next().removeClass('disabled');
	    //     nextTab($active);

	    // });

	    $(".prev-step").click(function (e) {

	        var $active = $('.wizard .nav-tabs li.active');
	        prevTab($active);

	    });


	

	});

//Nueva Prgunta
    $(".nuevaPregunta").click(function (e) {

        var $active = $('.wizard .nav-tabs li.1');
        $active.next().removeClass('disabled');
        nextTab($active);

    });
//Nuevo tema
    $(".nuevoTema").click(function (e) {

        var $active = $('.wizard .nav-tabs li.2');
        prevTab($active);

    });

//Validar input tema

	$(".btnContinue1").click(function (e) {
	    if ($('#tema').val() === ''|| $('#tema').val().indexOf(" ") == 0 ) {
	       alertDGC('Ingrese El Tema Por Favor');
	    } else {
	        var $active = $('.wizard .nav-tabs li.active');
        	$active.next().removeClass('disabled');
        	nextTab($active);
	    }
 	});
//Validar input pergunta

	$(".btnContinue2").click(function (e) {
	    if ($('#pregunta').val() === ''|| $('#pregunta').val().indexOf(" ") == 0 ) {
	       alertDGC('Ingrese La Pregunta Por Favor');
	    } else {
	        var $active = $('.wizard .nav-tabs li.active');
        	$active.next().removeClass('disabled');
        	nextTab($active);
	    }
 	});

//Validar inputs Respuestas

	$(".btnContinue3").click(function (e) {
		var siguiente=true;

	    if ($('#respA').val() === ''|| $('#respA').val().indexOf(" ") == 0 ) {
	       alertDGC('Ingrese La Respuesta A');
	       siguiente=false;
	    }
	    if ($('#respB').val() === ''|| $('#respB').val().indexOf(" ") == 0 ) {
	       alertDGC('Ingrese La Respuesta B');
	       siguiente=false;
	    } 
	    if ($('#respC').val() === ''|| $('#respC').val().indexOf(" ") == 0 ) {
	       alertDGC('Ingrese La Respuesta C');
	       siguiente=false;
	    } 
	    if ($('#respD').val() === ''|| $('#respD').val().indexOf(" ") == 0 ) {
	       alertDGC('Ingrese La Respuesta D');
	       siguiente=false;
	    }

	    if(siguiente===true){
	        var $active = $('.wizard .nav-tabs li.active');
        	$active.next().removeClass('disabled');
        	nextTab($active);
	    }
 	});


//Inicio Alert
	function alertDGC(mensaje)
	{
	    var dgcTiempo=500
	    var ventanaCS='<div class="dgcAlert"><div class="dgcVentana"><div class="dgcCerrar"></div><div class="dgcMensaje">'+mensaje+'<br><div class="dgcAceptar">Aceptar</div></div></div></div>';
	    $('body').append(ventanaCS);
	    var alVentana=$('.dgcVentana').height();
	    var alNav=$(window).height();
	    var supNav=$(window).scrollTop();
	    $('.dgcAlert').css('height',$(document).height());
	    $('.dgcVentana').css('top',((alNav-alVentana)/2+supNav-100)+'px');
	    $('.dgcAlert').css('display','block');
	    $('.dgcAlert').animate({opacity:1},dgcTiempo);
	    $('.dgcCerrar,.dgcAceptar').click(function(e) {
	        $('.dgcAlert').animate({opacity:0},dgcTiempo);
	        setTimeout("$('.dgcAlert').remove()",dgcTiempo);
	    });
	}
	window.alert = function (message) {
	  alertDGC(message);
	};

//Fin Alert

	function nextTab(elem) {
	    $(elem).next().find('a[data-toggle="tab"]').click();
	}
	function prevTab(elem) {
	    $(elem).prev().find('a[data-toggle="tab"]').click();
	}


//according menu

	$(document).ready(function()
	{
	    //Add Inactive Class To All Accordion Headers
	    $('.accordion-header').toggleClass('inactive-header');
		
		//Set The Accordion Content Width
		var contentwidth = $('.accordion-header').width();
		$('.accordion-content').css({});
		
		//Open The First Accordion Section When Page Loads
		$('.accordion-header').first().toggleClass('active-header').toggleClass('inactive-header');
		$('.accordion-content').first().slideDown().toggleClass('open-content');
		
		// The Accordion Effect
		$('.accordion-header').click(function () {
			if($(this).is('.inactive-header')) {
				$('.active-header').toggleClass('active-header').toggleClass('inactive-header').next().slideToggle().toggleClass('open-content');
				$(this).toggleClass('active-header').toggleClass('inactive-header');
				$(this).next().slideToggle().toggleClass('open-content');
			}
			
			else {
				$(this).toggleClass('active-header').toggleClass('inactive-header');
				$(this).next().slideToggle().toggleClass('open-content');
			}
		});
		
		return false;
	});
				
</script>
    </body>
</html>
